<div class="container">
  <h1>Restaurants</h1>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Category</th>
    </tr>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td>
        <%= restaurant.name %>
        <%= link_to "See details", restaurant_path(restaurant.id) %>
        </td>
        <td><%=restaurant.category%></td>
      </tr>
    <% end %>
  </table>
  <%= link_to  "New restaurant", new_restaurant_path, class: 'btn btn-primary' %>
</div>
